.matches-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 15px;
  padding: 20px;
  margin-top: 40px;
}

.match-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #012B39;
  padding: 15px 20px;
  border-radius: 6px;
  border: 1px solid #006385;
  width: 100%;
  min-width: 500px;
  font-size: 16px;
}
.match-container p {
  margin-left: 10px;
  margin-right: 10px;
  
}
.team1, .team2 {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
}
.team1 img, .team2 img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.match-container h2 {
  margin: 0 10px;
  font-size: 20px;
  color: #fff;
}