.player-wrapper{
  display: none;
  
  flex-direction: row;
  margin-left: 50px;
}
.player-buttons-container{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.next-btn,
.previous-btn{
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #006385;
  border-radius: 40px;
  margin-top: 24px;
  margin-right: 20px;
  box-shadow: 3px 3px 5px rgba(121, 121, 121, 0.5);
}
.stop-btn,
.play-btn{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #006385;
  border-radius: 50px;
  margin-right: 20px;
  box-shadow: 3px 3px 5px rgba(121, 121, 121, 0.5);
}
.play-btn img{
  width: 40px;
  height: 40px;
  margin-left: 8px;
}
.stop-btn img{
  width: 48px;
  height: 48px;
}
.stop-btn:hover,
.play-btn:hover,
.next-btn:hover,
.previous-btn:hover{
  cursor: pointer;
  background-color: #004f69;
}

.next-btn img,
.previous-btn img{
  width: 30px;
  height: 30px;
}
.speed-buttons-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  margin-top: 4px;
}
.speed-btn{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #006385;
  border-radius: 40px;
  margin-top: 6px;
  margin-right: 10px;
  box-shadow: 3px 3px 5px rgba(121, 121, 121, 0.5);
}
.speed-btn img{
  width: 14px;
  height: 14px;
  margin-left: 4px;
  margin-top: 2px;
}
#js-speed3x img{
  width: 18px;
  height: 18px;
  margin-right: 2px;
}
.speed-btn.speed-btn:hover{
  cursor: pointer;
  background-color: #004f69;
}